{% include "header.html" %}

<div class="container" style="margin-top: 100px">
  <h1>Data table</h1>
  <hr />
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Task</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in all_tasks %} {% if obj.done %}
      <tr class="table-success">
        <td>{{obj.id}}</td>
        <td>{{obj.task}}</td>
        <td>Done</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      {% else %}
      <tr>
        <td>{{obj.id}}</td>
        <td>{{obj.task}}</td>
        <td>Not Done</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>

      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
